header  {
    font-family: 'Shrikhand', cursive;
    background-color: lightblue;
    color: navy;
    width: 100%;
}

h2 {
    font-family: 'Shrikhand', cursive;
    color: navy;  
}

/* landing page gif */
.brain {
    margin-left: auto;
    margin-right: auto;
}

#landing {
    margin-bottom: 10rem;
}

#question {
    margin-bottom: 10rem;
}

footer {
    font-family: 'Shrikhand', cursive;
    color: navy;
    width: 100%;
    position: fixed;
    bottom: 0px;

}

/* Media Query */

@media screen and (width<= 1187px) {
    #landing {
        justify-content: center;
        
    }

    #welcome {
        order: -1;
        margin-bottom: 2rem;
    }
}


